Source: meniscus
Section: net
Priority: extra
Maintainer: Project Meniscus <meniscus@googlegroups.com>
Uploaders: Douglas Mendizabal <douglas.mendizabal@rackspace.com>
Build-Depends: python-setuptools(>= 0.6b3), python (>= 2.6.6), debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Homepage: http://projectmeniscus.org/
Vcs-Git: git://github.com/ProjectMeniscus/meniscus.git
Vcs-Browser: https://github.com/ProjectMeniscus/meniscus
X-Python-Version: >= 2.6

Package: meniscus
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 adduser
Description: Project Meniscus large-scale cloud logging.
 Project Meniscus is a Python based system for event collection, transit and 
 processing in the large. It's primary use case is for large-scale Cloud 
 logging, but can be used in many other scenarios including usage reporting 
 and API tracing.